.header-nav-wrapper {
  position: relative;
  height: 70px;
  width: 100%;
  z-index: 900000;
  box-shadow: 1px 1px 10px #aaaaaa;
  background: white;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: image-url("logo4.png") repeat 0 0;
  background-size: contain;
  background-repeat: no-repeat;
  height: 35px;
  width: 250px;
}

.logo a {
  width: 100%;
  height: 100%;
}

.session-links {
  display: flex;
  height: 70px;
  min-width: 100px;
  align-items: center;
  justify-content: flex-end;
  margin: 0 24px 0 0;
}

.session-links a.logged-out {
  text-transform: uppercase;
  font-size: 14px;
  font-family: 'Roboto','Open Sans', sans-serif;
  margin: 2px 3px 0 3px;
  padding: 0 12px;
  line-height: 36px;
  display: flex;
  justify-content: flex-end;
  color: #9297a3;
}

.session-links a.logged-out:hover {
  color: black;
}

.session-links a.sign-up-link {
  border-radius: 3px;
  background-color: #97bf11;
  color: white;
}

.session-links a.sign-up-link:hover {
  border-radius: 3px;
  background-color: #92ba0e;
}

.session-links i {
  color: #75ABD5;
  text-shadow: -2px 2px rgba(0, 0, 0, 0.1);
  font-size: 40px;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
}

.drop-down-menu {
  position: absolute;
  z-index: 2;
  display: none;
  position: absolute;
  width: 100px;
  background: white;
  border: 1px solid #d3d6dc;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 70px;
}
.drop-down-menu ul {
  width: 100px;
}

.drop-down-menu li {
  font-size: 12px;
  font-family: 'Roboto','Open Sans', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 16px;
  border-bottom: 1px solid #d3d6dc;
  color: #a1a6af;
}

.drop-down-menu li:hover {
  font-size: 12px;
  font-family: 'Roboto','Open Sans', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 16px;
  border-bottom: 1px solid #d3d6dc;
  color: black;
}

.drop-down a {
  font-size: 12px;
  font-weight: normal;
  line-height: 12px;
  font-family: 'Roboto','Open Sans', sans-serif;
  padding: 0;
  margin: 0;
  background: none;
  border: 0;
  text-transform: capitalize;
  font-size: 14px;
  margin: 0;
  padding: 0;
  color: #a1a6af;
}

.drop-down-menu button {
  color: #a1a6af;
  font-family: 'Roboto','Open Sans', sans-serif;
  font-weight: normal;
  font-size: 12px;
  padding: 12px 16px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.drop-down-menu button:hover {
  color: black;
}

.session-links:hover {

  .drop-down-menu {
    display: flex;
  }
}
