.route-show-wrapper {
  width: 639px;
  padding-left: 20px;
  padding-top: 20px;
}

.route-show-details {
  display: flex;
  flex: 0 auto;
  flex-direction: row;
  font-family: 'Roboto','Open Sans', sans-serif;
  flex-wrap: wrap;
  width: 100%;
  height: 242px;
  margin-bottom: 20px;
  border-bottom: 1px solid #d3d6dc;
}

.route-show-details-header {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #d3d6dc;
  justify-content: space-between;
  width: 100%;
  height: 45px;
}

h3.route-details-label {
  margin: 0;
  padding: 0 20px 0 0px;
  font-family: 'Roboto','Open Sans', sans-serif;
  color: #333333;
  font-size: 18px;
  font-weight: normal;
  display: flex;
  align-items: center;
  justify-content: center;
}

.route-show-info {
  height: 110px;
  width: 110px;
  box-shadow:0px 0px 0px 1px #d3d6dc inset;
  color: #666666;
  background-color: #fbf9f9;
  display: flex;
  margin: 20px 20px 0 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.route-show-info h4 {
  font-size: 10px;
  font-weight: 200;
  margin: 0;
  text-transform: uppercase;
}

.route-show-info p {
  font-size: 32px;
  color: #333333;
  text-transform: uppercase;
}

.route-show-info sub {
  font-weight: 200;
  font-size: 10px;
  text-transform: lowercase;
}

dl.route-show-detailed {
  font-family: 'Roboto','Open Sans', sans-serif;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 5px;
  width: 500px;
  height: 160px;;
  margin-bottom: 0;
}

.route-show-detailed dt {
  width: 120px;
  color: #333333;
  font-weight: bold;
  text-transform: uppercase;
  padding: 3px 0 0;
  margin: 0;
  font-size: 14px;
}

.route-show-detailed dd {
  width: 350px;
  padding: 3px 0 0;
  margin: 0;
  color: #666666;
  border-bottom: 0;
  word-wrap: break-word;
  font-size: 13px;
}

.route-show-map {
  height: 354px;
  width: 637px;
  border: 1px solid #d3d6dc;
}

.route-show-sidebar {
  width: 260px;
  margin-left: 20px;
  margin-top: 20px;
}

.route-sidebar-tools {
  width: 220px;
  border: 1px solid #d3d6dc;
  padding: 20px 20px 10px 20px;
  background-color: #f8f8f8;
}

.route-sidebar-tools a {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  width: 100%;
  color: #fbf9f9;
}

.route-sidebar-tools li {
  display: flex;
  color: white;
  justify-content: center;
  width: 100%;
  text-transform: uppercase;
  font-family: 'Roboto','Open Sans', sans-serif;
  line-height: 26px;
  font-size: 12px;
  border-radius: 3px;
  background-color: #5bc0de;
  color: white;
  cursor: pointer;
}

.route-sidebar-tools li {
  margin-bottom: 10px;
}

.route-sidebar-tools li {
  text-transform: uppercase;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  line-height: 26px;
  font-size: 12px;
  background: #818181;
  &:hover {
    background: darken(#818181, 10%);
  }
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  text-decoration: none;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  color: white;
}



.route-sidebar-tools li:last-of-type {
  text-transform: uppercase;
  height: 26px;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  line-height: 23px;
  font-size: 12px;
  background: #ff802b;
  &:hover {
    background: darken(#ff802b, 10%);
  }
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  text-decoration: none;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  color: white;
}

.route-sidebar-tools button {
  text-transform: uppercase;
  box-sizing: border-box;
  width: 100%;
}

.route-sidebar-tools li:nth-child(3n) {
  height: 26px;
  background: #337ab7;
  &:hover {
    background: darken(#337ab7, 10%);
  }
}

.hidden-modal {
  display: none;
}

.modal {
  z-index: 9001;
  top: 0px;
  height: 100%;
  width: 100%;
  background-color: rgba(51,51,51,0.7);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  height: 348px;
  width: 240px;
  background: white;
  z-index: 9002;
}

section.route-sidebar-comments {
  width: 220px;
  border: 1px solid #d3d6dc;
  margin-top: 20px;
  padding: 20px 20px 10px 20px;
  background-color: #f8f8f8;
  overflow: hidden;

  form.route-sidebar-comment-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    padding-right: 15px;
    input {
      font-family: 'Roboto','Open Sans', sans-serif;
      display: block;
      box-sizing: border-box;
      width: 173px;
      padding: 6px 16px;
      border: 1px solid #d3d6dc;
      font-size: 14px;
      line-height: 28px;
      height: 40px;
      color: #a6a6a6;
    }
    button {
      margin-left: 10px;
      text-transform: uppercase;
      font-family: 'Roboto','Open Sans', sans-serif;
      width: 24px;
      height: 24px;
      line-height: 24px;
      font-size: 14px;
      border-radius: 3px;
      background-color: #97bf11;
      color: white;
      &:hover {
        background: darken(#97bf11, 10%)
      }
    }
  }
  ul.sidebar-comments {
    display: flex;
    position: relative;
    flex-direction: column;
    max-height: 387px;
    overflow-y: scroll;
    width: 100%;
    padding-right: 17px;
    li {
      display: flex;
      // position: absolute;
      font-family: 'Open Sans', sans-serif;
      font-size: 12px;
      min-height: 21px;
      padding-bottom: 7%;
      margin-top: 7%;
      display: flex;
      flex-direction: row;
      align-items: center;
      border-bottom: 1px solid #d3d6dc;
      &:first-of-type {
        margin-top: 10px;
      }
      &:last-of-type {
        border-bottom: 0;
        padding-bottom: 0px;
      }
      img {
        box-sizing: border-box;
        border: 1px solid #d3d6dc;
        justify-self: flex-start;
        margin-right: 10px;
        max-height: 40px;
        max-width: 40px;
        min-height: 40px;
        min-width: 40px;
      }
      p {
        width: 150px;
        line-height: 14px;
        max-height: 34px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      button {
        text-transform: uppercase;
        font-family: 'Roboto','Open Sans', sans-serif;
        width: 24px;
        line-height: 24px;
        font-size: 14px;
        border-radius: 3px;
        background: #d9534f;
        color: white;
        &:hover {
          background: darken(#d9534f, 10%)
        }
      }
    }
  }
}
