.route-wrapper {
  width: 100%;
  height: 652px;
}

.route-content-wrapper {
  min-height: 650px;
  padding-bottom: 100px;
  width: 960px;
  margin: 0 auto 0 auto;
  display: flex;
  flex-direction: row;
}

.route-create-tools {
  margin-top: 3px;
  color: #d3d6dc;
  width: 240px;
  height: 100%;
  flex-direction: column;
}

.route-create-tools-title {
  color: #a1a6af;
  font-family: 'Roboto','Open Sans', sans-serif;
  font-size: 24px;
  font-weight: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.route-create-tools-details {
  border: 1px solid #d3d6dc;
  padding: 20px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.route-create-tools-details h3 {
  color: #a1a6af;
  font-family: 'Roboto','Open Sans', sans-serif;
  border-bottom: 1px solid #d3d6dc;
  padding: 0 25px 10px 25px;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}

ul.route-details {
  padding-top: 0.5px;
  width: 100%;
}

.route-details li:not(:first-child) {
  margin-top: 10px;
}

.route-details h4 {
  font-family: 'Roboto','Open Sans', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
}

.route-details p {
  color: #a1a6af;
  display: flex;
  font-family: 'Roboto','Open Sans', sans-serif;
  font-size: 22px;
  justify-content: center;
}

p.address {
  height: 26px;
  line-height: 12px;
  font-size: 12px;
  overflow: hidden;
}

.route-save-form label {
  margin: 0 0 12px 0;
}

form.route-save-form {
  padding-top: 20px;
}

.route-save-form input {
  font-family: 'Roboto','Open Sans', sans-serif;
  display: block;
  box-sizing: border-box;
  border-radius: 0;
  width: 100%;
  padding: 12px 16px;
  border: 1px solid #d3d6dc;
  font-size: 14px;
  line-height: 36px;
  height: 44px;
  color: #a6a6a6;
}

.route-save-form input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #a6a6a6;
  font-family: 'Roboto','Open Sans', sans-serif;
}
.route-save-form input::-moz-placeholder { /* Firefox 19+ */
  color: #a6a6a6;
}
.route-save-form input:-ms-input-placeholder { /* IE 10+ */
  color: #a6a6a6;
}
.route-save-form input:-moz-placeholder { /* Firefox 18- */
  color: #a6a6a6;
}

.route-save-form select {
  font-family: 'Roboto','Open Sans', sans-serif;
  display: block;
  box-sizing: border-box;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
  padding: 0 22px 0 22px;
  border: 1px solid #d3d6dc;
  font-size: 14px;
  line-height: 36px;
  height: 44px;
  color: #a6a6a6;
}

.route-create-map {
  width: 720px;
  height: 652px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

button.create-route-button {
  width: 100%;
  text-transform: uppercase;
  font-family: 'Roboto','Open Sans', sans-serif;
  line-height: 44px;
  font-size: 14px;
  border-radius: 3px;
  background-color: #97bf11;
  color: white;
}

button.create-route-button:hover {
  background-color: #92ba0e;
}

ul.errors {
  display: flex;
  flex-direction: column-reverse;
  position: absolute;
  padding-left: 20px;
  z-index: 10;
  top: 511px;
  width: 250px;
  height: 255px;
}

.errors li {
  font-family: 'Roboto','Open Sans', sans-serif;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  box-sizing: border-box;
  width: 100%;
  padding: 12px 16px;
  border: 1px solid #d62000;
  background-color: #ffdcd6;
  font-size: 14px;
  height: 44px;
  color: #d62000;
}

.timeSelect {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding-bottom: 14px;
}

.formTime {
  padding: 12px 14px;
  font-size: 12px;
  width: 50px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -moz-appearance: none;
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
