.session-form-wrapper {
  width: 960px;
  margin: 0 auto 0 auto;
}

.session-form {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto','Open Sans', sans-serif;
  width: 320px;
  margin: 70px auto 0 auto;
}

.or {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.session-form > .or > p {
  line-height: 44px;
  font-size: 12px;
  padding: 0 15px;
  justify-content: center;
  color: #a6a6a6;
}

.session-form .line {
  display: block;
  width: 140px;
  height: 1px;
  flex: 1;
  border-bottom: 1px solid #d3d6dc;
}

.session-form a {
  text-transform: uppercase;
  font-size: 14px;
  font-family: 'Roboto','Open Sans', sans-serif;
  margin: 2px 3px 0 3px;
  padding: 0;
  line-height: 36px;
  display: flex;
  justify-content: flex-end;
  color: #9297a3;
}

.session-form input {
  font-family: 'Roboto','Open Sans', sans-serif;
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 12px 16px;
  border: 1px solid #d3d6dc;
  font-size: 14px;
  line-height: 36px;
  height: 44px;
  color: #a6a6a6;
}

.session-form input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #a6a6a6;
  font-family: 'Roboto','Open Sans', sans-serif;
}
.session-form input::-moz-placeholder { /* Firefox 19+ */
  color: #a6a6a6;
}
.session-form input:-ms-input-placeholder { /* IE 10+ */
  color: #a6a6a6;
}
.session-form input:-moz-placeholder { /* Firefox 18- */
  color: #a6a6a6;
}

.session-form label {
  margin: 0 0 15px 0;
}
.session-form button.submit {
  text-transform: uppercase;
  font-family: 'Roboto','Open Sans', sans-serif;
  line-height: 44px;
  font-size: 14px;
  border-radius: 3px;
  background-color: #97bf11;
  color: white;
}
.session-form button.submit:hover {
  background-color: #92ba0e;
}
.session-form button.guest {
  text-transform: uppercase;
  font-family: 'Roboto','Open Sans', sans-serif;
  line-height: 44px;
  font-size: 14px;
  border-radius: 3px;
  background-color: #3b5998;
  color: white;
}

.session-form button.guest:hover {
  background-color: #35508c;
}

.session-errors li {
  font-family: 'Roboto','Open Sans', sans-serif;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  box-sizing: border-box;
  width: 100%;
  padding: 12px 16px;
  border: 1px solid #d62000;
  background-color: #ffdcd6;
  font-size: 14px;
  height: 44px;
  color: #d62000;
}
