.sub-nav-wrapper {
  width: 960px;
  margin: 0 auto 0 auto;
}

.sub-nav-bar {
  display: flex;
  flex-direction: row;
  margin: 20px 20px 0 20px;
  width: 753px;
}

ul.sub-nav-bar {
  border-style: solid;
  border-width: 1px 0px 0px 1px;
  border-color: #d3d6dc;
  height: 50px;
}

.sub-nav-bar li {
  display: flex;
  padding-top: 5px;
  justify-content: center;
  text-transform: uppercase;
  font-family: 'Roboto','Open Sans', sans-serif;
  font-size: 14px;
  color: #666;
  border-style: solid;
  border-width: 0px 1px 1px 0px;
  border-color: #d3d6dc;
  background-color: #fbf9f9;
}

.sub-nav-bar li:hover {
  background-color: #fff;
}

.sub-nav-bar li.active {
  padding-top: 0;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-family: 'Roboto','Open Sans', sans-serif;
  font-size: 14px;
  color: #666;
  border-style: solid;
  border-width: 5px 1px 1px 0px;
  border-top-color: #2BA5EF;
  border-right-color: #d3d6dc;
  border-bottom-color: #ffffff;
  border-left-color: #d3d6dc;
  background-color: #ffffff;
}

.sub-nav-bar li.active a {
  cursor: default;
  color: #333;
}

.sub-nav-bar a {
  text-transform: capitalize;
  font-size: 14px;
  font-family: 'Roboto','Open Sans', sans-serif;
  margin: 0;
  padding: 0 12px;
  line-height: 36px;
  width: 226px;
  display: flex;
  justify-content: center;
  color: #666;
}

.short {
  width: 503px;
}
